<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Security Staff</title>
</head>
<body>
<h1>Add Security Staff</h1>
<form th:action="@{/security-staff}" th:object="${staff}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" /><br>

    <label>Badge Number:</label>
    <input type="text" th:field="*{badgeNo}" /><br>

    <label>Salary:</label>
    <input type="number" th:field="*{salary}" /><br>

    <button type="submit">Save</button>
</form>
</body>
</html>