<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchase List</title>
</head>
<body>
<h1>All Purchases</h1>
<a href="/purchases/new">Make New Purchase</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Customer ID</th>
        <th>Shop ID</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    <tr th:each="purchase : ${purchases}">
        <td th:text="${purchase.id}"></td>
        <td th:text="${purchase.customerId}"></td>
        <td th:text="${purchase.shopId}"></td>
        <td th:text="${purchase.amount}"></td>
        <td>
            <form th:action="@{'/purchases/' + ${purchase.id} + '/delete'}" method="post">
                <button type="submit">Delete Purchase</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>