<html xmlns:th="http://www.thymeleaf.org">
<head><title>Mall List</title></head>
<body>
<h1>All Malls</h1>
<a href="/malls/new">Add New Mall</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
    </tr>
    <tr th:each="mall : ${malls}">
        <td th:text="${mall.id}"></td>
        <td th:text="${mall.name}"></td>
        <td th:text="${mall.city}"></td>
        <td>
            <a th:href="@{'/malls/' + ${mall.id}}">Details</a> |
            <a th:href="@{'/malls/' + ${mall.id} + '/edit'}">Edit</a> |
            <form th:action="@{'/malls/' + ${mall.id} + '/delete'}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<br/>
<a href="/">Back to Menu</a>
</body>
</html>