<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop List</title>
</head>
<body>
<h1>All Shops</h1>
<a href="/shops/new">Add New Shop</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner Name</th>
        <th>Floor Number</th>
        <th>Actions</th>
    </tr>
    <tr th:each="shop : ${shops}">
        <td th:text="${shop.id}"></td>
        <td th:text="${shop.name}"></td>
        <td th:text="${shop.ownerName}"></td>
        <td th:text="${floorNumbers[shop.floorId]} != null ? 'Floor ' + ${floorNumbers[shop.floorId]} : 'Unknown'"></td>
        <td>
            <a th:href="@{'/shops/' + ${shop.id}}">Details</a> |
            <a th:href="@{'/shops/' + ${shop.id} + '/edit'}">Edit</a> |
            <form th:action="@{'/shops/' + ${shop.id} + '/delete'}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<br/>
<a href="/">Back to Menu</a>
</body>
</html>